In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.random.rand(5,4), index='A B C D E' .split(), columns='F G H I' .split())
df

          F         G         H         I
A  0.370341  0.750644  0.282085  0.047895
B  0.619872  0.101002  0.750081  0.312616
C  0.068809  0.614156  0.956780  0.016696
D  0.723691  0.498791  0.802766  0.399507
E  0.985119  0.784172  0.020514  0.295435

In [5]:
df[['H','I']]

          H         I
A  0.282085  0.047895
B  0.750081  0.312616
C  0.956780  0.016696
D  0.802766  0.399507
E  0.020514  0.295435

In [6]:
df['edit'] = df['H']+df['I']
df

          F         G         H         I      edit
A  0.370341  0.750644  0.282085  0.047895  0.329980
B  0.619872  0.101002  0.750081  0.312616  1.062697
C  0.068809  0.614156  0.956780  0.016696  0.973476
D  0.723691  0.498791  0.802766  0.399507  1.202273
E  0.985119  0.784172  0.020514  0.295435  0.315948

In [7]:
df.drop('edit', axis=1)

          F         G         H         I
A  0.370341  0.750644  0.282085  0.047895
B  0.619872  0.101002  0.750081  0.312616
C  0.068809  0.614156  0.956780  0.016696
D  0.723691  0.498791  0.802766  0.399507
E  0.985119  0.784172  0.020514  0.295435

In [8]:
df

          F         G         H         I      edit
A  0.370341  0.750644  0.282085  0.047895  0.329980
B  0.619872  0.101002  0.750081  0.312616  1.062697
C  0.068809  0.614156  0.956780  0.016696  0.973476
D  0.723691  0.498791  0.802766  0.399507  1.202273
E  0.985119  0.784172  0.020514  0.295435  0.315948

In [9]:
df.drop('edit', axis=1, inplace=True)

In [10]:
df

          F         G         H         I
A  0.370341  0.750644  0.282085  0.047895
B  0.619872  0.101002  0.750081  0.312616
C  0.068809  0.614156  0.956780  0.016696
D  0.723691  0.498791  0.802766  0.399507
E  0.985119  0.784172  0.020514  0.295435

In [11]:
df.drop('E', axis=0)

          F         G         H         I
A  0.370341  0.750644  0.282085  0.047895
B  0.619872  0.101002  0.750081  0.312616
C  0.068809  0.614156  0.956780  0.016696
D  0.723691  0.498791  0.802766  0.399507

In [12]:
df.loc['A']

F    0.370341
G    0.750644
H    0.282085
I    0.047895
Name: A, dtype: float64

In [13]:
df.iloc[3]

F    0.723691
G    0.498791
H    0.802766
I    0.399507
Name: D, dtype: float64

In [14]:
df > 0.5

       F      G      H      I
A  False   True  False  False
B   True  False   True  False
C  False   True   True  False
D   True  False   True  False
E   True   True  False  False

In [15]:
df[df>0.5]

          F         G         H   I
A       NaN  0.750644       NaN NaN
B  0.619872       NaN  0.750081 NaN
C       NaN  0.614156  0.956780 NaN
D  0.723691       NaN  0.802766 NaN
E  0.985119  0.784172       NaN NaN

In [16]:
df[df['F']<0.5] [['H','G','I']]

          H         G         I
A  0.282085  0.750644  0.047895
C  0.956780  0.614156  0.016696

In [17]:
df[(df['H']>0.2) & (df['H']<0.8)]

          F         G         H         I
A  0.370341  0.750644  0.282085  0.047895
B  0.619872  0.101002  0.750081  0.312616

In [18]:
df.reset_index()

  index         F         G         H         I
0     A  0.370341  0.750644  0.282085  0.047895
1     B  0.619872  0.101002  0.750081  0.312616
2     C  0.068809  0.614156  0.956780  0.016696
3     D  0.723691  0.498791  0.802766  0.399507
4     E  0.985119  0.784172  0.020514  0.295435

In [19]:
df['kode'] = "INA IND JPN RSA USA".split()

In [20]:
df

          F         G         H         I kode
A  0.370341  0.750644  0.282085  0.047895  INA
B  0.619872  0.101002  0.750081  0.312616  IND
C  0.068809  0.614156  0.956780  0.016696  JPN
D  0.723691  0.498791  0.802766  0.399507  RSA
E  0.985119  0.784172  0.020514  0.295435  USA

In [21]:
df.set_index('kode')

             F         G         H         I
kode
INA   0.370341  0.750644  0.282085  0.047895
IND   0.619872  0.101002  0.750081  0.312616
JPN   0.068809  0.614156  0.956780  0.016696
RSA   0.723691  0.498791  0.802766  0.399507
USA   0.985119  0.784172  0.020514  0.295435

In [22]:
df.set_index('kode', inplace=True)

In [23]:
df

             F         G         H         I
kode
INA   0.370341  0.750644  0.282085  0.047895
IND   0.619872  0.101002  0.750081  0.312616
JPN   0.068809  0.614156  0.956780  0.016696
RSA   0.723691  0.498791  0.802766  0.399507
USA   0.985119  0.784172  0.020514  0.295435

In [24]:
datalabel = ['GI','GI','GI','G2','G2','G2',]
datavalue = [1,2,3,1,2,3]
data = list(zip(datalabel, datavalue))

data = pd.MultiIndex.from_tuples(data)

In [25]:
data

MultiIndex([('GI', 1),
            ('GI', 2),
            ('GI', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [27]:
df = pd.DataFrame(np.random.rand(6,2), index=data, columns=['A','B'])
df

             A         B
GI 1  0.845639  0.569581
   2  0.534326  0.470072
   3  0.710198  0.511001
G2 1  0.069852  0.104529
   2  0.526699  0.853811
   3  0.031060  0.674286

In [28]:
df.loc['G2']

          A         B
1  0.069852  0.104529
2  0.526699  0.853811
3  0.031060  0.674286

In [29]:
df.loc['G2'].loc[1]

A    0.069852
B    0.104529
Name: 1, dtype: float64

In [30]:
df.index.names

FrozenList([None, None])

In [31]:
df.index.names = ['Grup','Nomer']

In [32]:
df

                   A         B
Grup Nomer
GI   1      0.845639  0.569581
     2      0.534326  0.470072
     3      0.710198  0.511001
G2   1      0.069852  0.104529
     2      0.526699  0.853811
     3      0.031060  0.674286

In [33]:
df.xs('G2')

              A         B
Nomer
1      0.069852  0.104529
2      0.526699  0.853811
3      0.031060  0.674286

In [35]:
df.xs(['G2',2])

A    0.526699
B    0.853811
Name: (G2, 2), dtype: float64

In [36]:
df.xs(1, level='Nomer')

             A         B
Grup
GI    0.845639  0.569581
G2    0.069852  0.104529